<form class="small-form">
    <h1>Update a Tournament</h1>
    <div class="success"></div>
    <div class="errors"></div>
    <label>
        Tournament Name
        <input type="text" name="name" value="{{tournament.name}}" />
    </label>
    <label>
        Description
        <textarea name="description">{{tournament.description}}</textarea>
    </label>
    <button>Save</button>
</form>
<script>
    document.querySelector("form").onsubmit = async (e) => {
        // Stop the page from reloading.
        e.preventDefault();
        document.querySelector(".errors").innerHTML = "";

        try {
            const response = await fetch("/api/tournament/{{tournament.id}}/update", {
                method: "PUT",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    name: document.querySelector("[name='name']").value,
                    description: document.querySelector("[name='description']").value
                })
            });

            if (response.redirected) {
                location.href = response.url;
                return;
            }

            const data = await response.json();
            if (!response.ok) {
                throw new CustomError(data.message, response.status);
            }

            document.querySelector(".success").innerHTML = data.message;
        } catch (error) {
            if (error.code) {
                document.querySelector(".errors").innerHTML = error.message;
            } else {
                throw error;
            }
        }
    };
</script>