<form class="medium-form">
    <h1>Start a Tournament</h1>
    <div class="errors"></div>
    <label>
        Tournament Name
        <input type="text" name="name" />
    </label>
    <label>
        Description
        <textarea name="description"></textarea>
    </label>
    <button>Start</button>
</form>
<script>
    document.querySelector("form").onsubmit = async (e) => {
        const form = e.currentTarget;
        // Stop the page from reloading.
        e.preventDefault();
        form.querySelector(".errors").innerHTML = "";

        try {
            const response = await fetch("/api/tournament/new", {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    name: form.querySelector("[name='name']").value,
                    description: form.querySelector("[name='description']").value
                })
            });

            if (response.redirected) {
                location.href = response.url;
                return;
            }

            const data = await response.json();
            if (!response.ok) {
                throw new CustomError(data.message, response.status);
            }
        } catch (error) {
            if (error.code) {
                form.querySelector(".errors").innerHTML = error.message;
            } else {
                throw error;
            }
        }
    };
</script>